@import '../vars';

@mixin gallery_size {
  min-height: 1000px;
  width: 1000px;
}

@mixin gallery_image {
  @include gallery_size;
  background-repeat: no-repeat;
}

.home__content {
  h1 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 0;
  }

  .home__tagline {
    color: $steel;
    font-size: 30px;
    font-family: $gothic;
    margin: 20px 0 30px;
    text-align: center;

    .gothic {
      //color: $iron;
    }

    .modern {
      color: $fire;
      font-family: $modern;
      font-size: 26px;
    }
  }

  .home__introduction {
    background-color: $black-t66;
    border: 1px solid $silver;
    border-radius: 12px;
    font-size: 20px;
    margin: 20px auto;
    padding: 0 25px;
    width: 600px;
  }

  .gallery {
    margin: 0 auto 50px;
    @include gallery_size;

    .gallery__spikes {
      @include gallery_image;
      background-image: url(/images/ti_spike_mask.png);
      background-position: 50px 50px;
    }

    .gallery__steampunk {
      @include gallery_image;
      background-image: url(/images/steampunk_mask.png);
      background-position: 300px 400px;
    }

    .gallery__bloodfeather {
      @include gallery_image;
      background-image: url(/images/bloodfeather.png);
      background-position: 50px 400px;
    }

    .gallery__purple_rain {
      @include gallery_image;
      background-image: url(/images/purple_rain.png);
      background-position: 550px 0;
    }
  }
}
