@import '../vars';

.navbar {
  background-color: $iron;
  background-image: url(/images/brushed_alum_dk.jpg);
  border-bottom: 2px solid $fire;
  color: $fire;
  display: flex;
  flex-direction: row;
  height: 55px;

  .navbar__spacer {
    flex-grow: 1;
  }
}
