@import '../vars';

.site__title {
  .rave {
    color: $fire;
    font-family: $modern;

    &:after {
      content: 'Rave';
    }
  }

  .armor {
    color: $steel;
    font-family: $gothic;

    &:after {
      content: 'Armor';
    }
  }
}
